Repository mangila/pokedex-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_web, test_scheduler, test_shared, validate_infrastructure

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: test_web
        name: Test Web Module
        entry: python run_sub.py ".\mvnw -pl shared,web -am clean package" "pokedex"
        language: system
        verbose: true
        files: "^pokedex/web/src"
        require_serial: true
        stages:
          - pre-commit
      - id: test_scheduler
        name: Test Scheduler Module
        entry: python run_sub.py ".\mvnw -pl shared,scheduler -am clean package" "pokedex"
        language: system
        verbose: true
        files: "^pokedex/scheduler/src"
        require_serial: true
        stages:
          - pre-commit
      - id: test_shared
        name: Test Shared Module
        entry: python run_sub.py ".\mvnw -pl shared -am -amd clean package" "pokedex"
        language: system
        verbose: true
        files: "^pokedex/shared/src"
        require_serial: true
        stages:
          - pre-commit
      - id: validate_infrastructure
        name: Terraform validate
        entry: python print.py
        language: system
        verbose: true
        files: "^infrastructure"
        require_serial: true
        stages:
          - pre-commit

rm rf generics
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriteTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
Due: test_shared

rm rf generics
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriteTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pokemon.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_scheduler, test_shared

bool
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
Due: test_scheduler, test_shared

update
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexEntry.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
Due: test_shared

pair programming
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/OffsetBoundary.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonLexer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenizer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUri.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUriGithub.java
Due: test_shared

pair programming
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/OffsetBoundary.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonLexer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenizer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pair.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUri.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUriGithub.java
Due: test_shared

faktåry
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataRecord.java
Due: test_shared

faktåry
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/JsonResponse.java
Due: test_shared

faktåry
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/CompactThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/Pair.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/https/client/PokeApiClientTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/queue/QueueServiceTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
Due: test_shared

dlq
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
Due: test_scheduler

compact thread
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/CompactThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/OffsetBoundary.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonLexer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenizer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUri.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUriGithub.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_scheduler, test_shared

compact thread
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
Due: test_shared

compact thread
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/CompactThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
Due: test_shared

compact thread
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/CompactThread.java
Due: test_shared

compact thread
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
Due: test_scheduler, test_shared

compact thread
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseObject.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pokemon.java
Due: test_scheduler, test_shared

thread mangement
  .gitignore
  README.md
  pokedex/.mvn/wrapper/README.md
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerConfig.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertCriesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertSpritesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/ShutdownTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/Task.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/TaskConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/CompactThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DatabaseFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueService.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/VirtualThreadUtils.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_scheduler, test_shared

thread mangement
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
Due: test_shared

revisit, better code structure
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiClient.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpBodyReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/GetRequest.java
Due: test_scheduler, test_shared

revisit, better code structure
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/SpeciesResponse.java
Due: none

borrow with retry strategy
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiClient.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiClientConfig.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiUri.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonClientConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsConnection.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsConnectionHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
Due: test_scheduler, test_shared

clean up, namespacing, map json to obj, completable future handling
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiClient.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/PokeApiUri.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/EvolutionChainResponse.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/JsonMapper.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/PokeApiClientException.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/PokemonsResponse.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/SpeciesResponse.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/VarietyResponse.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/FileHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/read/Reader.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/write/Writer.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertCriesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertSpritesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/ShutdownTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/config/VirtualThreadConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpBodyReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonClientUtil.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonResponse.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonLexer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParserConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenQueue.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenizer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonObject.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonRoot.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonValue.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueEntry.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueService.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsClientSocketFactory.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsSocketConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/ArrayUtils.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/Pair.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/VirtualThreadFactory.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/VirtualThreadUtils.java
Due: test_scheduler, test_shared

clean up, namespacing, map json to obj, completable future handling
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/PokemonsResponse.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/SpeciesResponse.java
Due: none

clean up, namespacing, map json to obj, completable future handling
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/client/response/SpeciesResponse.java
Due: none

clean up, namespacing, map json to obj, completable future handling
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpHeaderReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/AbstractHeaders.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/ResponseHeaders.java
Due: test_scheduler, test_shared

executor managment and logging
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/db/PokemonDatabase.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/Database.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/DiskHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/FileHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/read/Reader.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertCriesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertSpritesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/ShutdownTask.java
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/func/TriFunction.java
Due: test_scheduler, test_shared

executor managment and logging
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/CompactThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
Due: test_shared

pokeapi singleton
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/db/PokemonDatabase.java
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/model/Pokemon.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
Due: test_scheduler

db singleton
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/model/Pokemon.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/Database.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/DiskHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/FileHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/IndexFileHandler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpHeaderReader.java
Due: test_scheduler, test_shared

app module
  pokedex/api/pom.xml
  pokedex/app/pom.xml
  pokedex/app/src/main/java/com/github/mangila/pokedex/app/Application.java
  pokedex/app/src/main/resources/logback.xml
  pokedex/database/pom.xml
  pokedex/pom.xml
  pokedex/scheduler/pom.xml
  pokedex/shared/pom.xml
  pokedex/web/pom.xml
  pokedex/web/src/main/java/com/github/mangila/pokedex/web/Application.java
  pokedex/web/src/main/java/com/github/mangila/pokedex/web/WebApplication.java
  pokedex/web/src/main/resources/logback.xml
Due: test_web

app module
  .pre-commit-config.yaml
Due: none

docs
  README.md
  docs/infrastructure.md
  docs/pokedex-api.md
  docs/pokedex-app.md
  docs/pokedex-database.md
  docs/pokedex-scheduler.md
  docs/pokedex-shared.md
  docs/pokedex-web.md
Due: none

docs
  README.md
Due: none

demure
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpBodyReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/json/JsonClient.java
Due: test_shared

demure
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/InvalidJsonException.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonLexer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenQueue.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonTokenizer.java
Due: test_shared

updated README
  README.md
  pokedex/api/src/main/java/com/github/mangila/pokedex/api/model/Pokemon.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpBodyReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/BufferUtils.java
Due: test_shared

revisit db
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/Database.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/DiskHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/cache/DatabaseCache.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/DataRecord.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/IndexEntry.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/file/IndexFileHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/io/DatabaseFile.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/io/DatabaseFileHandler.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/io/DatabaseFileName.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/model/ReadOperation.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/model/WriteOperation.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/read/ReaderThread.java
  pokedex/database/src/main/java/com/github/mangila/pokedex/database/internal/util/DiskOperationTransferQueue.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpBodyReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/HttpStatusReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/AbstractHeaders.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/RequestHeaders.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/Ensure.java
Due: test_shared
