Repository mangila/pokedex-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: test_web, test_scheduler, test_shared, validate_infrastructure

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: test_web
        name: Test Web Module
        entry: python print.py
        language: system
        verbose: true
        files: "^pokedex/web/src"
        stages:
          - pre-commit
      - id: test_scheduler
        name: Test Scheduler Module
        entry: python print.py
        language: system
        verbose: true
        files: "^pokedex/scheduler/src"
        stages:
          - pre-commit
      - id: test_shared
        name: Test Shared Module
        entry: python print.py
        language: system
        verbose: true
        files: "^pokedex/shared/src"
        stages:
          - pre-commit
      - id: validate_infrastructure
        name: Terraform validate
        entry: python print.py
        language: system
        verbose: true
        files: "^infrastructure"
        stages:
          - pre-commit

tegrity
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/FileOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
Due: test_shared

dubstep
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/FormatOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
Due: test_shared

backpressure
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Writer.java
Due: test_shared

npe
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Engine.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/PokemonVariety.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUri.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiUriGithub.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
Due: test_scheduler, test_shared

npe
  README.md
Due: none

vibeeeezzz webpc
  README.md
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClientConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/primitives/PokeApiHost.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/webp/WebpConverter.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
Due: test_scheduler, test_shared

fatboy slim
  README.md
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/BoundedQueueService.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/PooledTlsConnection.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsConnection.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsConnectionPool.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/HealthProbe.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/queue/BoundedQueueServiceTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/tls/TlsConnectionPoolTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPoolTest.java
Due: test_scheduler, test_shared

fatboy slim
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertCriesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertSpritesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/Task.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/config/TlsConnectionPoolConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
Due: test_scheduler, test_shared

genärics
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCacheConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/EvictionThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheUtils.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlEntry.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/LruCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/TtlCacheTest.java
Due: test_shared

genärics
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCacheConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/EvictionThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheUtils.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlEntry.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/FileOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClientConfig.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/LruCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/TtlCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
Due: test_scheduler, test_shared

threads WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReadTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriteTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
Due: test_shared

threads WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
Due: test_shared

singeltån
  .gitignore
  README.md
  db.pokemon
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueService.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/TlsClientSocketFactory.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/HealthProbe.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/TtlCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/queue/QueueEntryTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/tls/TlsConnectionPoolTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPoolTest.java
Due: test_scheduler, test_shared

vibe
  .pre-commit-config.yaml
  README.md
  pokedex/.mvn/wrapper/MavenWrapperDownloader.java
  pokedex/.mvn/wrapper/README.md
  pokedex/.mvn/wrapper/maven-wrapper.properties
  pokedex/mvnw
  pokedex/mvnw.cmd
  pokedex/scheduler/pom.xml
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiMediaClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiMediaClientConfig.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/LruCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/TtlCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/testutil/TestUtil.java
  print.py
  run_sub.py
Due: test_scheduler, test_shared

vibe
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/https/client/PokeApiClientTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/json/JsonParserTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/model/PokemonTest.java
Due: test_shared

vibe
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/lru/LruCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/https/client/PokeApiClientTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/json/JsonParserTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/model/PokemonTest.java
Due: test_shared

revisit
  .pre-commit-config.yaml
  README.md
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerConfig.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertCriesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertSpritesTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/ShutdownTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/Task.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/TaskConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParserConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonArray.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonObject.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonTree.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/model/JsonValue.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueService.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPool.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/lru/LruCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/ttl/TtlCacheTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/json/JsonParserTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/queue/QueueServiceTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/tls/pool/TlsConnectionPoolTest.java
  run_sub.py
Due: test_scheduler, test_shared

revisit
  README.md
Due: none

revisit
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Scheduler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
Due: test_scheduler, test_shared

revisit
  README.md
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/json/JsonParser.java
Due: test_shared

revisit
  .pre-commit-config.yaml
Due: none

revisit
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/ShutdownTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/queue/QueueService.java
Due: test_scheduler, test_shared

db stuffs
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FormatOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
  pokedex/shared/test.pokemon
Due: test_scheduler, test_shared

db stuffs
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FormatOptions.java
Due: test_shared

db stuffs
  .gitignore
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFileHandler.java
  pokedex/shared/test.pokemon
Due: test_shared

db stuffs
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFileHandler.java
Due: test_shared

db stuffs
  README.md
Due: none

db stuffs
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFile.java
Due: test_shared

uptream
  .pre-commit-config.yaml
Due: none

db stuffs io
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileSection.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FormatOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFile.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/PokemonFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
Due: test_scheduler, test_shared

db stuffs io
  .gitignore
  README.md
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/QueuePokemonsTask.java
  pokedex/scheduler/src/main/resources/logback.xml
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseConfig.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseObject.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DatabaseFileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileOptions.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileSection.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexEntry.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReadTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriteTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/Writer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/write/WriterThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/model/HttpStatus.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pokemon.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/PokemonMapper.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/database/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/json/JsonParserTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/model/PokemonTest.java
Due: test_scheduler, test_shared

db stuffs io
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/PokemonDatabase.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/DatabaseObject.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReadTransfer.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/Reader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/read/ReaderThread.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pokemon.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_shared

db stuffs io
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/header/DataFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/header/DataFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/header/FileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/header/IndexFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/header/IndexFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/ArrayUtils.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/util/ArrayUtilsTest.java
Due: test_shared

db stuffs io
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
Due: test_scheduler

db stuffs io WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileName.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/https/client/PokeApiClient.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/ArrayUtils.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/util/BufferUtils.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_shared

db stuffs io WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_shared

db stuffs io WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataRecord.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/File.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexEntry.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/data/DataWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHeader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexFileHeaderHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexReader.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/index/IndexWriter.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/model/Pair.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
Due: test_shared

db stuffs io WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/FileHandler.java
Due: test_shared

db stuffs io WIP
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
Due: test_shared

db stuffs io WIP
  README.md
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/Bootstrap.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/SchedulerApplication.java
  pokedex/scheduler/src/main/java/com/github/mangila/pokedex/scheduler/task/InsertPokemonTask.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/cache/lru/LruCache.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/Database.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/DiskHandler.java
  pokedex/shared/src/main/java/com/github/mangila/pokedex/shared/database/internal/file/DataFileHandler.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/PokemonDatabaseTest.java
  pokedex/shared/src/test/java/com/github/mangila/pokedex/shared/cache/lru/LruCacheTest.java
Due: test_scheduler, test_shared
